<!doctype html>
<html ng-app="dupfind">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//code.angularjs.org/1.2.10/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="/webapp/lib/angular-bootstrap-checkbox.js"></script>
    <script src="/webapp/main.js"></script>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webapp/styles/main.css"/>
</head>
<body>
<div ng-controller="AccordionDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header"><h3 class="modal-title"></h3></div>
        <div class="modal-body"></div>
        <carousel interval="1000">
            <slide ng-repeat="file in files" active="slide.active">
                <img ng-src="{{getThumb(file)}}" style="margin:auto;" class="img-responsive">

                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>

                    <p>{{file.fullname}}</p>
                </div>
            </slide>
        </carousel>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <p>
        <button class="btn btn-default btn-sm" ng-click="getElements()">Get element</button>
    </p>

    <checkbox ng-model="oneAtATime"></checkbox>
    Open only one at a time


    <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="cluster in clusters">
            <accordion-heading>
                <span>{{cluster.hash}}</span><span>{{cluster.size}}</span><span
                    class="pull-right">{{cluster.count}}</span>
            </accordion-heading>
                <div>
                    <div ng-repeat="file in getFiles(cluster)">
                        <button type="button" class="btn btn-default btn-xs" ng-click="selectOthers(cluster, file)">
                            <span class="glyphicon glyphicon-pushpin"></span>
                        </button>
                        {{file.selected}}
                        <button type="button"
                                class="btn btn-default btn-xs" ng-class="{'btn-danger': file.selected}"
                                ng-init="file.selected=false"
                                ng-model="file.selected"
                                dup-checkbox dup-checkbox-validate="validateFileSelected(cluster, file)"
                                >
                            <span ng-style="{'width': '10px', 'left': '-1px'}"
                                  class="glyphicon"
                                  ng-class="{'glyphicon-ok': file.selected}">
                            </span>
                        </button>

                        <!--
                        <checkbox
                            ng-model="file.selected"
                            ng-change="toggleFileSelection(cluster, file)"
                            danger-on-check="true">
                        </checkbox>
                        -->
                        <!--<input type="checkbox" ng-checked="file.selected" ng-click="toggleFileSelection(cluster, file, $event)">-->
                        {{file.abspath}}
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-default btn-xs" ng-click="open(cluster)">Show</button>
                    <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="deleteFromCluster(cluster)">Delete</button>
                </div>

                <!--
                <div class="col-xs-1">
                    <button type="button" class="btn btn-default btn-xs" ng-click="deleteFile(cluster, file, $index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                -->
        </accordion-group>
    </accordion>
</div>
</body>
</html>